
	    .main {
	    	border: 2px solid black;
	    	padding: 10px;
	    }
	    .comment {
	    	border: 2px solid black;
	    	padding: 15px;
	    	margin: 10px 221px;
	    }
	    .comment2 {
	    	border: 2px solid black;
	    	padding: 15px;
	    	margin: 10px 221px;
	    	font-size: 17px;
	    	height: 150px;
	    }
    	div.date {
    		text-align: right;
    		font-size: 15px;
    	}
    	div.tags {
    		border-radius: 25px;
    		border: 2px solid black;
    		padding: 20px;
    		width: 1110px;
    		height: 70px;
    		font-size:20px;
    		margin:4px 2px;
    		text-align: center;
    	}
    	.item {
    		background-color: white;
    		color: black;
    		padding: 15px;
    		margin: 4px 2px;
    		text-align: center;
    		font-size: 15px;
    		width: 1110px;
    		height: 45px;
    		border: 2px solid black;
		}
		.votebtn{
			background-color: white;
    		color: black;
    		padding: 15px;
    		margin: 4px 2px 10px;
    		text-align: center;
    		font-size: 15px;
    		width: 1110px;
    		height: 45px;
    		border: 2px solid black;
		}
    	.item1 {
    		width: 1.53%;
    	}

    	.item2 {width: 18.97%;}
    	.item3 {width: 65.13%;}
    	.item4 {width: 14.36%;}

    	.sgbox {width: 820px;}
    	.cbox {
    		margin-top: 10px;
    		width: 1002px;
    		height: 80px;
    	}
    	.cbtn {
    		margin: 10px;
    		height: 80px;
    		width: 80px;
    		background-color: #286090;
    		border-radius: 6px;
    		color:white;
    	}
    	.cbtn2 {
    		background-color: white;
    		color: blue;
    	}
    	.cbtn3 {
    		margin-bottom: 5px;
    		float:right;

    	}
    	.sgitem {
    		border: 2px solid;
    		padding: 5px 40px 5px 40px;
    		margin-left: 10px;
    	}